<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="$(ProjectDir)WebAutomation.Generator.dll" #>
<#@ import namespace="WebAutomation.Generator" #>

<#
string xmlFilename = "GithubWebsite.xml";
string desiredNamespace  = "SelAutomationRedesign.Pages";
string additionalUsing = string.Empty;
#>

<#=WebObjectsGenerator.Generate(Host.ResolvePath(xmlFilename), desiredNamespace, additionalUsing)#>
